
*.properties
.DS_Store
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/compiler.xml
app/google-services.json
register/.DS_Store
register/src/.DS_Store
register/src/main/.DS_Store
register/src/main/java/com/piappstudio/.DS_Store
register/src/main/java/com/piappstudio/register/ui/.DS_Store
register/src/main/res/.DS_Store
register/src/main/res/drawable/.DS_Store
register/src/main/res/values/ids.xml
.DS_Store
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
Playstore/GiftRegisterKey
Playstore/google-services.json
